
.lateral {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color: transparent;
    z-index:1;
}

.nav-laterral {
    position:absolute;
    left:-200%;
    top:10px;
    height:100%;
    width:max-content;
    transition:all 0.3s ease;
    z-index:2;
}

.nav-close {
    margin-bottom: 50%;
}

a {
    color:black;
    text-decoration:none;
}

.nav-link {
    cursor:pointer;
    font-size:20px;
    margin-bottom: 20%;
    display:flex;
    align-items:center;
}

.nav-link:hover {
    color: var(--bg-main-color);
}

.nav-link ion-icon {
    margin-right:15px;
}

.nav-link, #nav-button {
    transition: all 0.2s ease;
}

#nav-button{
    font-size:40px;
    cursor:pointer;
    height:50px;
    width:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}

#nav-button:hover{
    color: var(--bg-main-color);
}