@import url("./style.css");

.main{
    height: 100%;
}

.conv_message::-webkit-scrollbar,
.conv_message::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: var(--bg-main-color);
}

.conv_message::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

/* middle style */

.middle-message{
    flex-basis: 60%;
}

.box_message{
    min-height: 100%;
    max-height: 100%;
    background-color: var(--bg-post-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.title_message{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
    border-bottom: var(--bg-body-color) solid 1px;
    z-index: 1;
    background-color: var(--bg-conv-other-color);
}

.conv_message{
    background-color: var(--bg-conv-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding-top: 10px;
}

.bulle{
    max-width: 80%;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.friend_bulle_message{
    background-color: var(--bg-post-color);
    margin-left: 20px;
}

.my_bulle_message{
    position:relative;
    float:right;
    background-color: var(--bg-main-color);
    margin-right: 20px;
    color: var(--bg-post-color);
}

.my-empty-conv{
    width: 100%;
}

.message_info{
    font-size: small;
    color: grey;
}

.date_message{
    font-size: small;
    color: grey;
    display: flex;
    justify-content: flex-end;
}

.send_menu_message{
    border-top: 1px solid var(--bg-body-color);
    height: 100px;
    background-color: var(--bg-conv-other-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
}

input:focus {
    outline: none;
    border: var(--bg-main-color) 1px solid !important;
    box-shadow: none !important;
}

.form-control {
    margin: 10px;
    border-radius: 20px;
    width: 85%;
    background-color: var(--bg-post-color);
    overflow-y: scroll;
    border : var(--bg-body-color) solid 1px;
}

.send_icon_message{
    cursor: pointer;
    size: 100px;
}

/* right style */

.right-message{
    flex-basis: 25%;
}

.selected_friends{
    background-color: rgba(214, 211, 211, 0.549);
}