@import url("./style.css");

.main{
    display: flex;
    justify-content: space-between;
    padding: 13px 52px 13px 5%;
}

.settings-list{
    position: relative;
    margin-left: 10%;
    width: 60%;
    font-size:xx-large;
    background-color: var(--bg-settings-color);
    color: var(--settings-content-color);
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor:pointer;
}

.profile-disclosed{
    border-radius: 7px;
    margin-bottom: 20px;
    display:none;
    transition: 0.5s ease;
}

.theme-disclosed{
    border-radius: 7px;
    margin-bottom: 20px;
    display:none;
    transition: 0.5s ease;
}

.privacy-disclosed{
    border-radius: 7px;
    margin-bottom: 20px;
    display:none;
    transition: 0.5s ease;
}

.delete-disclosed{
    border-radius: 7px;
    margin-bottom: 20px;
    display:none;
    transition: 0.5s ease;
}

.password-disclosed{
    border-radius: 7px;
    margin-bottom: 20px;
    display:none;
    transition: 0.5s ease;
}

.menu-arrow{
    display: inline;
    position:absolute;
    right:5%;
}

.settings-list ion-icon{
    transition: 0.3s ease;
}

.settings-styles{
    color:var(--settings-content-color);
    background-color: var(--bg-settings-color);
    border-radius: 7px;
    margin-top: 20px;
    padding: 4px;
    width: fit-content;
    margin-left: 10%;
}

.formulaire{
    width:fit-content;
}

.formulaire td{
    padding: 5px;
}

.formulaire input:not(.confirm), select{
    margin: 7px;
    border-radius: 6px;
    color:var(--settings-content-color);
    background-color: var(--bg-settings-color);
    border-color:dimgrey;
    width:200px;
}

#sexChoice input{
    width:auto;
}

#profilePicture{
    padding:5px;
    width:150px;
    height:150px;
    border-radius: 50%;
    cursor:pointer;
}

.confirm{
    border-radius: 6px;
    background-color:var(--bg-main-color);
    color: #fff;
    width:200px;
}

.confirm:hover{
    border-radius: 6px;
    background-color: #b7b6b6;
    color: var(--bg-main-color);
    width:200px;
    transition: all 0.3s ease;
}

#delete-account{
    background-color: var(--settings-delete-bg-color);
    color: var(--settings-delete-color);
    border-radius: 6px;
    width: 100px;
    text-align: center;
}

#delete-account:hover{
    background-color: var(--settings-hover-bg-color);
    color: var(--settings-hover-color);
    border-radius: 6px;
    width: 100px;
    text-align: center;
    transition : all 0.3s ease;
}