@import url("./color.css");
html{
    width:100%;
    height:100%;
}

/* Main Style */

body{
    background-color: var(--bg-body-color);
    transition: background 0.3s ease;
    top: 50px;
    height:100%;
    width:100%;
    position:relative;
}

/* Body Style */

main{
    display:flex;
    justify-content: space-between;
    padding: 13px 52px 13px 5%;
}

.middle-content {
    flex-basis:60%;
    margin-right: -10%;
    transition: 0.3s ease;
}


/*Other Style */


@media  screen and (max-width:650px) {
   
    .logo{
        display: none;
    }

    .left-content{
        display:none;
    }

    .right-content{
        display:none;
    }

    .main{
        display:block;
    }
}

::-webkit-scrollbar {
    width: 10px;
    margin-right:20px;
  }

::-webkit-scrollbar-thumb {
    background-color:var(--bg-main-color);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 3px;
}